body {
    background-color: hsl(216, 12%, 8%);
}

.main-body {
    background-color: hsl(213, 19%, 18%);
    width: 20vw;
    height: 40vh;
    margin: auto;
    margin-top: 8.75rem;
    border-radius: 2rem;
    padding: 1.875rem;
    font-family: 'Overpass', sans-serif;
    font-size: 0.75rem;
    overflow: hidden;
}

.star-image {
    background-color: hsl(216, 12%, 8%);
    display: inline;
    padding: 0.625rem 0.625rem;
    border-radius: 50%;
}
.image {
    margin: auto;
    width: 0.9375rem;
    margin-top: 0.625rem;
}

h1 {
    color: hsl(0, 0%, 100%);
    padding-top: 0.625rem;
}

p {
    color: hsl(217, 12%, 63%);
    letter-spacing: 1px;
}

h2 {
    margin: -20%;
    font-size: 16px;
}

.input {
    color: hsl(216, 12%, 54%);
    background-color:hsl(216, 12%, 8%) ;
    width: 2.81rem;
    height: 2.81rem;
    margin: 1.25rem 0;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.numbers {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    width: 100%;
    padding: 13px 0;
    border-radius: 1.5rem;
    border: none;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
 

.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.input:hover {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

.numbers .input:is(:focus) {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.thank-you-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rate {
    text-align: center;
    margin: 1.56rem;
    background-color: hsl(216, 12%, 8%);
    padding: 10px 0;
    color: hsl(25, 97%, 53%);
    border-radius: 1rem;
}

.thanks {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.descrip {
    text-align: center;
}

@media only screen and (max-width:425px){
    .main-body{
        width: 293px;
        margin: 45px;
    }
  }